/*
.smaller {
	font-size: 0.9em;
}

.larger {
	font-size: 1.1em;
    line-height: 0;
}
*/

/* needs more research. http://nicewebtype.com/notes/2009/10/30/how-to-use-css-font-face/ */
/* https://stackoverflow.com/questions/6476351/how-to-use-the-computer-modern-font-in-webpages */
/* still hinky - gives bold when not desired, either for roman or for italic. WHY. */
/*
@font-face {
    font-family: "CMU Typewriter";
    src: url("./fonts/cmu/cmuntt.otf");
    src: local("CMU Typewriter Text"), local("Typewriter"), url("./fonts/cmu/cmuntt.otf") format("opentype");
}

@font-face {
    font-family: "CMU Serif";
    src: url("./fonts/cmu/cmunrm.otf");
    src: local("CMU Serif"), local("Serif"), url("./fonts/cmu/cmunrm.otf") format("opentype");
}

@font-face {
    font-family: "CMU Serif";
    font-weight: bold;
    src: url("./fonts/cmu/cmunbx.otf");
    src: local("CMU Serif Bold Extended Roman"), local("Serif Bold"), url("./fonts/cmu/cmunbx.otf") format("opentype");
}

@font-face {
    font-family: "CMU Serif";
    font-style: italic;
    src: url("./fonts/cmu/cmuni.otf");
    src: local("CMU Serif Italic"), local("Serif Italic"), url("./fonts/cmu/cmunbi.otf") format("opentype");
}

@font-face {
    font-family: "CMU Serif";
    font-weight: bold;
    font-style: italic;
    src: url("./fonts/cmu/cmunbi.otf");
    src: local("CMU Serif Bold Extended Italic"), local("Serif Bold Italic"), url("./fonts/cmu/cmunbi.otf") format("opentype");
}
*/
/*
@font-face {
    font-family: "Computer Modern Serif";
    src: url('http://spratt.github.io/Computer-Modern/cmunrm-webfont.eot');
    src: url('http://spratt.github.io/Computer-Modern/cmunrm-webfont.eot?#iefix') format('embedded-opentype'),
    url('http://spratt.github.io/Computer-Modern/cmunrm.otf') format('opentype'),
    url('http://spratt.github.io/Computer-Modern/cmunrm-webfont.woff') format('woff'),
    url('http://spratt.github.io/Computer-Modern/cmunrm-webfont.ttf') format('truetype'),
    url('http://spratt.github.io/Computer-Modern/cmunrm-webfont.svg#cmu_serifroman') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Computer Modern Serif";
    src: url('http://spratt.github.io/Computer-Modern/cmunsl-webfont.eot');
    src: url('http://spratt.github.io/Computer-Modern/cmunsl-webfont.eot?#iefix') format('embedded-opentype'),
    url('http://spratt.github.io/Computer-Modern/cmunsl.otf') format('opentype'),
    url('http://spratt.github.io/Computer-Modern/cmunsl-webfont.woff') format('woff'),
    url('http://spratt.github.io/Computer-Modern/cmunsl-webfont.ttf') format('truetype'),
    url('http://spratt.github.io/Computer-Modern/cmunsl-webfont.svg#cmu_serif_extraromanslanted') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "Computer Modern Serif";
    src: url('http://spratt.github.io/Computer-Modern/cmunbl-webfont.eot');
    src: url('http://spratt.github.io/Computer-Modern/cmunbl-webfont.eot?#iefix') format('embedded-opentype'),
    url('http://spratt.github.io/Computer-Modern/cmunbl.otf') format('opentype'),
    url('http://spratt.github.io/Computer-Modern/cmunbl-webfont.woff') format('woff'),
    url('http://spratt.github.io/Computer-Modern/cmunbl-webfont.ttf') format('truetype'),
    url('http://spratt.github.io/Computer-Modern/cmunbl-webfont.svg#cmu_serif_extraboldslanted') format('svg');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "Computer Modern Serif";
    src: url('http://spratt.github.io/Computer-Modern/cmunbx-webfont.eot');
    src: url('http://spratt.github.io/Computer-Modern/cmunbx-webfont.eot?#iefix') format('embedded-opentype'),
    url('http://spratt.github.io/Computer-Modern/cmunbx.otf') format('opentype'),
    url('http://spratt.github.io/Computer-Modern/cmunbx-webfont.woff') format('woff'),
    url('http://spratt.github.io/Computer-Modern/cmunbx-webfont.ttf') format('truetype'),
    url('http://spratt.github.io/Computer-Modern/cmunbx-webfont.svg#cmu_serifbold') format('svg');
    font-weight: bold;
    font-style: normal;
}
*/
#u {
    color: red;
}

/* typewritten.org master style sheet v.10 */

body {
	font-family: Optima, Helvetica, Geneva, Arial, sans-serif;
	font-size: 10pt;
	color: black;
/*	background: #606080; */
	background: #8b8ba7;
}

#man {
	/*font-family: "Computer Modern Serif"; */ /*, "Adobe Garamond Pro", Garamond, Palatino, "Palatino Linotype", Times, "Times New Roman", serif; */
	/* font-family: "CMU Serif"; */ /*, "Adobe Garamond Pro", Garamond, Palatino, "Palatino Linotype", Times, "Times New Roman", serif; */
	font-family: "Adobe Garamond Pro", Garamond, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
	/* font-family: Palatino, "Palatino Linotype", Times, "Times New Roman", serif; */
	/* font-family: Times, "Times New Roman", serif; */
	font-size: 12pt;
	color: black;
	background-image: url("/ts-watermark.gif");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
    zoom: 1;        /* I hate IE */
/*    width: 9in; */
}

/* I think this isn't used
#man .nf {
    display: inline-block;
}
*/
/*
#man h1 {
	font-size: inherit;
}
*/
#man h2 { /* safari won't override this unless .body is explicitly specified here. why? */
    font-style: normal;
}

#man h3 {
	font-size: 12pt;
	background: white;
	font-style: italic;
	font-weight: bold;
	border-bottom: 1px solid gray;
	padding: 0.25em 1em 0.25em 0em;
	margin: 1em 4em 1em 3em;
}

/*
#man p {
	line-height: 1.35;
    margin-bottom: 0em;
    margin-top: 1em;
}

#man p.foot {
    margin-top: 1.5em;
    text-align: center;
    font-size: 0.9em;
    font-style: italic;
    color: gray;
}

#man pre {
	border: none;
	background: none;
	color: black;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	border-radius: 0;
	-moz-border-radius: 0;
	margin: 1em 4em 1em 6em;
	padding: 0em 0em 0em 0em;
    overflow: visible;
    font-family: "CMU Typewriter Text", "Courier New", Courier, monospace;
	line-height: 1.2em;
}

#man tt {
    font-family: monospace;
}

*/
#man .n {
	line-height: 0.6em;
}

#man pre strong {
	color: black;
	font-weight: bold;
}

#man pre em {
	/*color: darkslateblue;*/
    color: midnightblue;
	/*font-style: italic;*/
    font-style: normal;
    font-weight: bold;
}

#man .ul {
    color: black;
    font-weight: normal;
    text-decoration: underline;
}

#man table {
	border: none;
	background: none;
	border-spacing: 0;
	padding: 0;
	margin-left: 3em;
    font-size: inherit;
}

#man td {
	padding: 0.1em 0.75em 0.1em 0.75em;
    vertical-align: top;
}

#man tr:nth-child(even) td {
	background: none;
}

#man tr:nth-child(odd) td {
	background: none;
}

#man dl {
	/*padding-right: 2em;*/
	padding-left: 2em;
	margin-right: 1em;
	margin-left: 2em;
    margin-top: 1em;
    margin-bottom: 0;
    clear: left;
}

#man dt {
	float: left;
	clear: left;
	padding-right: 0.5em;
    margin-top: 0em;
    white-space: nowrap;
    font-variant-ligatures: none;
}

/*
#man dt:first-child {
    margin-top: 0em;
}
*/

#man dd {
    text-align: justify;
    padding-right: 3em;
    margin-top: 1em;
}

#man .synopsis {
    word-spacing: 0.4em;  /* Safari 9 fucks this up?! */
}

#man .nrs {     /* troff 1/6em narrow space */
    display: inline-block;
    width: 0.167em;
    text-wrap: suppress;    /* this property is currently unsupported. will it even do what I need? */
}

#man .hns {     /* troff 1/12em half-narrow space */
    display: inline-block;
    width: 0.083em;
    /* this property is currently unsupported. will it even do what I need? */
    text-wrap: suppress;
}

#man .tab {     /* HTML shortcut - cheapass source compression */
    display: inline-block;
    /* this is only good if the element is a direct child of a block.
       breaks again if it's in, say, <strong>, or another <span> */
    /*margin-left: inherit;  /* look at this more closely. I think it's wrong in tar.1 - where was it I did this for? bc.? bs.1? */
}

#man .sub {
    position: relative;
    top: 0.5em;
}

#man .sup {
    position: relative;
    bottom: 0.5em;
}

a:link {
	color: #104580;
	text-decoration: none;
}

a:visited {
	color: #451080;
	text-decoration: none;
}

/*
a:hover {
	background: #f0f0f0;
/*	text-decoration: underline; */
}
*/

h1 {
	font-size: 10pt;
	font-weight: bold;
	text-align: center;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	margin-top: 0em;
	border-bottom: 2px groove grey;
}

p {
	text-align: justify;
}

kbd {
    -webkit-box-shadow: 0.1em 0.1em 0.2em #888;
    -moz-box-shadow: 0.1em 0.1em 0.2em #888;
    -moz-border-radius: 0.25em;
    box-shadow: 0.1em 0.1em 0.2em #888;
    border-radius: 0.25em;
    border: 1px solid black;
    padding-left: 0.2em;
    padding-right: 0.2em;
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
    background: #e0e0e0;
    color: black;
}

.title {
	background: #cccccc;
	border: 1px solid black;
	border-bottom: 0;
	padding: 0;
	margin: 0;
}

.title h1 {
	background: black;
	color: white;
	font-size: 10pt;
	font-weight: bold;
	text-align: center;
	margin: 0em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	border: 1px solid #c0c0c0;
	border-right: 1px solid #8b8b8b;
	border-bottom: 1px solid #8b8b8b;
}

.bottom_deco {
	border: 1px solid black;
	border-top: 0;
	padding: 0;
	margin: 0;
	margin-bottom: 1em;
}

.bottom_deco table {
	margin: 0;
	padding: 0;
	border: 0;
	border-spacing: 0;
	width: 100%;
	empty-cells: show;
}

.bottom_deco tr {
	margin: 0;
	padding: 0;
}

.bottom_deco td {
	margin: 0;
	padding: 0;
	background: #cccccc;
	height: 6px;
	border-right: 1px solid dimgrey;
	border-left: 1px solid white;
	border-top: 1px solid white;
	border-bottom: 0;
}

.bottom_deco td.left {
	width: 31px;
	border-left: 0;
}

.bottom_deco td.right {
	width: 31px;
	border-right: 0;
}

.body {
	background: white;
	padding: 1.2em 0 1.2em 0;
	border: 1px solid black;
}

.body a {
	font-style: italic;
}

.body a:hover {
	background: #f0f0f0;
}

.body h1 {
	font-size: 1.5em;
	font-weight: bold;
	font-style: italic;
	border-bottom: 3px groove gray;
	padding: 0.5em 0 0 0;
	margin-right: 1.5em;
	margin-left: 0;
	text-indent: 0.75em;
}

.body h2 {
	font-size: 1.2em;
	font-style: italic;
	border-bottom : 1px solid black;
	padding: 2em 0 0 0;
	margin-right: 2em;
	margin-left: 2em;
}

.body h1 + h2 {
	padding-top: 0.25em;
}

.body h1 + a + h2 {
	padding-top: 0.25em;
}

.body h3 {
	background: #f0f0f0;
	font-size: 10pt;
	font-style: italic;
	font-weight: normal;
	border-bottom: 1px solid lightgray;
	padding: 0.25em 1em 0.25em 1em;
	margin: 1em 4em 1em 3em;
}

.body h4 {
	color: dimgrey;
	font-weight: bold;
	margin: 2em 45em 1em 4em;
	border-bottom: 1px solid #cccccc;
}

.body h5 {
	color: dimgrey;
	font-weight: bold;
	margin: 2em 45em 1em 8em;
	border-bottom: 1px solid #cccccc;
}

.body p {
	padding-right: 2em;
	padding-left: 2em;
	margin-right: 2em;
	margin-left: 2em;
}

.body p.flush_left {
	margin-left: 0;
}

.body p.rev {
	text-align: center;
	font-style: italic;
}

.body p.sig {
	text-align: right;
	font-style: italic;
	padding-bottom: 1em;
	font-size: 0.75em;
}

.body p.note {
    margin: 2em 4em 2em 2em;
}

.body p.qv {
    margin: 2em 1em 0em 0em;
}

.body p.update {
    margin: 2em 4em 2em 4em;
    padding-top: 1em;
    padding-left: 3.75em;
    text-indent: -3.75em;
    border-top: 1px dotted silver;
    font-style: italic;
}

.body p.note span, p.qv span, p.update span {
    font-style: italic;
    font-weight: bold;
}

.body ul, ol {
	margin-left: 3em;
    margin-right: 3em;
}

.body ol.contents {
    padding-bottom: 2em;
}

.body ul ul, ol ol, ul ol, ol ul {
	margin-left: -1.2em;
}

.body li pre {
	margin: 2em 1em 2em 2em;
}

.body pre {
	-webkit-box-shadow: -0.1em -0.1em 0.5em #888;
	-moz-box-shadow: -0.1em -0.1em 0.5em #888;
	-moz-border-radius: 1.5em;
	box-shadow: -0.1em -0.1em 0.5em #888;
    border: 2px inset silver;
    border-radius: 1.5em;
	margin: 2em 4em 2em 4em;
	padding: 1em 1em 2em 2em;
	font-family: cmu-mono, monospace;
	/* font-size: 12pt; */
	background: black;
	background-image: url("/gfx/raster3.png");
	color: lime;
	overflow: auto;
	overflow-y: hidden; /* IE thing? */
}

.body pre em {
	font-style: normal;
	color: white;
}

.body pre strong {
	color: yellow;
	font-style: italic;
}

.body pre kbd {
    border: 1px solid white;
    background: #444444;
    color: white;
    font-weight: normal;
}

table {
	border: 1px outset gray;
    border-spacing: 0.3em;
	background: #e0e0e0;
	padding: 0.5em;
	margin: 1em 2em 1em 4em;
    empty-cells: hide;
}

table th {
	color: black;
	background: silver;
	margin: 1em;
	padding: 0.2em 1em 0.2em 1em;
	border: 1px groove black;
    text-align: center;
    font-style: italic;
    font-weight: bold;
}

table td {
	border: 0px solid #cccccc;
	background: white;
	margin: 1em;
	padding: 0.5em 1em 0.5em 1em;
    text-align: left;
}

.body table tr:nth-child(odd) td {
	background: white;
}

.body table tr:nth-child(even) td {
	background: #e0f0e0;
}

table.tab {
	border: 0;
    border-spacing: 0;
    padding: 0;
	background: none;
}

table.tab td {
    background: none;
    margin: 0;
    padding: 0.1em 1em;
}

table.tab tr:nth-child(odd) td {
	background: none;
}

table.tab tr:nth-child(even) td {
	background: none;
}

table.inv {
    border-spacing: 0.2em;
    padding: 0.3em;
	font-size: 0.75em;
}

table.inv td {
	margin: 0;
	padding: 0.2em 0.5em 0.2em 0.5em;
}

table.exhibit {
	background: none;
    border: 0px;
	margin: 1.5em 2em 1.5em 2.5em;
}

table.exhibit td {
	padding: inherit;
	font-size: inherit;
	vertical-align: top;
	border-top: 1px solid gray;
	padding-bottom: 2em;
}

table.exhibit tr:first-child td {
	border-top: 0px;
}

table.exhibit tr:nth-child(odd) td {
	background: none;
}

table.exhibit tr:nth-child(even) td {
	background: none;
}

table.exhibit td.thumb {
	border: 0px;
	background: none;
	font-size: 0.75em;
	text-align: center;
    padding-top: 1em;
    padding-right: 1em;
}

table.exhibit td.thumb img {
	-webkit-box-shadow: 0.25em 0.25em 1em #888;
	-moz-box-shadow: 0.25em 0.25em 1em #888;
	box-shadow: 0.25em 0.25em 1em #888;
    border: 0em;
}

table.exhibit p.item {
    font-weight: bold;
	margin-bottom: 2em;
}

table.exhibit p.cardcat {
    font-family: "American Typewriter", "Courier New", "Courier", "monospace";
    font-size: 0.75em;
    margin-left: 6em;
}

.logo {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#content {
	position: relative;
	top: 0;
	/* this width gives me ~80 columns of <pre>, plus margins */
	min-width: 52em;
	margin: 1em 0 1em 15em;
	z-index: 2;
}

#content .title, #content .body, #content .bottom_deco {
	margin-right: 1.2em; /* h4x - odd size to avoid safari/chrome subpixel positioning bug */
}

#menu {
	position: absolute;
	top: 0;
	left: 0;
	margin: 1em;
	max-width: 13.5em;
	z-index: 1;
}

#menu a {
	color: black;
}

#menu a:hover {
	background: #d0d0d0; /* not sure this does anything in any browser, even */
}

#menu .menu_title {
	background: #cccccc;
	border: 1px solid black;
	border-left: 0;
	border-top: 0;
}

#menu .menu {
	background: transparent;
	border-right: 1px solid black;
	border-left: 0;
	border-top: 0;
	padding: 0;
	margin-bottom: 2em;
	margin-top: 0;
}

#menu .menu_title h1 {
	background: black;
	color: white;
	font-size: 10pt;
	font-weight: bold;
	text-align: left;
	margin: 0;
	padding: 0.25em 1em 0.25em 1em;
	border: 1px solid white;
	border-right: 1px solid dimgray;
	border-bottom: 1px solid dimgray;
}

#menu .menu h2 {
	background: grey;
	font-size: 10pt;
	font-weight: bold;
	border: 1px solid dimgrey;
	border-left: 1px solid #cccccc;
	border-bottom: 1px solid black;
	margin: 0;
    text-align: center;
}

#menu .menu h3 {
	background: grey;
	font-size: 0.8em;
	font-weight: normal;
	font-style: italic;
	border: 1px solid dimgrey;
	border-left: 1px solid #cccccc;
	border-bottom: 1px solid black;
    text-align: center;
	padding: 0.2em 0.5em 0.2em 0.5em;
	margin: 0;
}

#menu item {
	text-align: left;
    text-indent: -1em;
	margin: 0;
	padding: 0.25em 1em 0.25em 2em;
	background: #cccccc;
	border: 1px solid white;
	border-right: 1px solid dimgrey;
	border-bottom: 1px solid dimgrey;
	display: block;
}

#menu p {
	padding: 0;
	margin: 0;
	border-bottom: 1px solid black;
}

#menu p.here {
	text-align: left;
    text-indent: -1em;
	margin: 0;
	padding: 0.25em 1em 0.25em 2em;
	background: #e0e0e0;
	color: dimgray;
	border: 1px solid #cccccc;
	border-bottom: 1px solid #e0e0e0;
}

#menu ol {
	padding-right: 1em;
	font-size: 0.75em;
    margin: 0em;
}

#menu li {
	padding-bottom: 0.3em;
}

#footer {
	font-family: "American Typewriter", "Courier New", "Courier", "monospace";
	margin: 1em 1em 1em 15em;
}

#footer p {
	text-align: center;
}

